[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "third_party/open-fixture-language"]
	path = third_party/open-fixture-language
	url = https://github.com/Cobra-Labs/open-fixture-language
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
